html, body {
    font-family: Constantia, serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "header1 header2 header3";
    margin: 12px;
    padding: 24px;
    align-items: center;
    background-color: #e3e3e3;
}

h1 {
    grid-area: header1;
    justify-self: left;
    color: #c5b1b1;
}

#headerNav {
    grid-area: header3;
    align-content: space-between;
    justify-self: right;
}

li {
    list-style-type: none;
}

.button {
    padding: 8px 12px;
    text-align: center;
    border-radius: 8px;
    font-family: Roboto Light, sans-serif;
    font-weight: bold;
    border-color: rgba(255, 255, 255, 0.5);
    color: #575757;
}

/*.comic-button {*/
/*    display: inline-block;*/
/*    padding: 8px 12px;*/
/*    text-align: center;*/
/*    font-family: Roboto Light, sans-serif;*/
/*    font-weight: bold;*/
/*    text-decoration: none;*/
/*    color: #fff;*/
/*    border: 2px solid #000;*/
/*    border-radius: 10px;*/
/*    box-shadow: 5px 5px 0px #000;*/
/*    transition: all 0.3s ease;*/
/*    cursor: pointer;*/
/*}*/

/*.comic-button:hover {*/
/*    background-color: #fff;*/
/*    color: #ff5252;*/
/*    border: 2px solid #ff5252;*/
/*    box-shadow: 5px 5px 0px #ff5252;*/
/*}*/

/*.comic-button:active {*/
/*    background-color: #fcf414;*/
/*    box-shadow: none;*/
/*    transform: translateY(4px);*/
/*}*/

#loginButton, #logoutButton {
    padding: 8px 12px;
    width: min(75px);
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(250, 200, 200, 0.5);
    color: #626262;
}

/* MAIN */

main {
    height: 85%;
    margin: 12px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main1 main2 main3";
    background-color: #e3e3e3;
    min-height: 100vh;
}

main article {
    grid-area: main2;
    padding-bottom: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

main section {
    margin-top: 24px;
    width: 80%;
    border-radius: 12px;
    background-color: rgb(100, 100, 100, 0.3);
    justify-self: center;
    padding: 24px;
}

/* user registry */
.createAccount {
    background-color: #d7c6c6;
    outline-color: black;
    color: #000000;
    margin: 36px auto 48px auto;
}

.createAccount h2 {
    text-align: center;
}

#registerForm {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "usernameLabel usernameInput"
    "passwordLabel passwordInput"
    ".  registerButton";
    gap: 12px;
    max-width: 400px;
    margin: auto;
}

#registerForm input {
    padding: 4px;
    border-radius: 8px;
    border-style: none;
}

#registerForm input:focus {
    outline: #737373 dashed medium;
}

.usernameLabel {
    grid-area: usernameLabel;
    align-self: center;
    justify-self: end;
}

.usernameInput {
    grid-area: usernameInput;
    margin-left: 24px;
    justify-self: stretch;
    text-decoration-skip-spaces: start;
}

.passwordLabel {
    grid-area: passwordLabel;
    align-self: center;
    justify-self: end;
}

.passwordInput {
    grid-area: passwordInput;
    margin-left: 24px;
    justify-self: stretch;
}

#showHidePassword {
    grid-area:  passwordInput;
    padding-right: 4px;
    justify-self: end;
    cursor: pointer;
    user-select: none;
}
#registerButton {
    grid-area: registerButton;
    justify-self: end;
    width: fit-content;
    background-color: #d3eab3;
}

/* FOOTER */
footer {
    margin: 0;
    padding: 12px;
    background-color: #d7c6c6;
    color: #ffffff;
    text-align: center;
}
